#yazi{
    color: brown; font-size: 30px; font-family: 'Times New Roman', Times, serif;
}

.yazi1{
    color: blue; font-size: 35px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}